*,
*::after,
*::before{
    box-sizing: border-box;/* con todo lo anterior ahora la caja y los bordes
    ocupan el 20% y logran caber 5 cajas en una fila*/

    /*con el border-box hacemos que el tamaño se cuente con los bordes padding y contenido
    y no solo el   contenido como lo hace el content-box*/
}


body{
  background-color: #A9E2F3;
}

h1{
  text-align: center;
  font-size: 2.5rem;
  
}

.listaPrincipal{
  background-color: darkcyan;
}
ul{
  width: 100vh;
  display: flex;
  
  
  
  
  
}

li{
  padding-right: 10vw;
  padding-top: 1rem;
  
}

.listaAnimes{
  background-color: darkorange;
  width: 20vw;
  min-height: 100vh;
  
  overflow-wrap: break-word;
  text-align: center;
  text-overflow: ellipsis;

  min-width: 13rem;
}

ol{
           display: flex;
            /*flex-direction: row-reverse; por defecto tiene el valor row*/
            flex-direction: column;
           
            
}

.fotoSpiderman{
  padding-left: 5rem;
  padding-top: 2rem;
  width: 28em;
  height: 28rem;
}

.lasFotos{
  display: flex;
}

.elDiv{
  display: flex;
}

header{
  padding-top: 1rem;
  font-size: 1.5rem;
}

ul{
  font-size: 1.6rem;
}

